.athletic
{
    float: right;
    width: 90VH;
    height: 90VH;
}
.academic
{
    width: 90VH;
    height: 90VH;
}
.acdesign
{
    width: 90VH;
    height: 90VH;
}
.atdesign
{
    width: 90VH;
    height: 90VH;
}
body{
    background-color: rgb(45, 110, 166);
    overflow: auto;
}
.title
{
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    margin-left: 80VH;
    margin-right: 76VH;
    margin-bottom: 5px;
}
.atr
{
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
.acr
{
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
.back
{
    height: 50px;
    width: 50px;
    position: sticky;
    top: 0;

}
.atimg
{
    float:right;
    margin-bottom: 10px;
    width: 70VH;
    height: 50VH;
}
.acimg
{
    width: 70VH;
    height: 50VH;
}
.athcaption
{
    margin-top: 5px;
    clear: right;
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
}
.accaption
{
    clear: left;
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
}