body
{
    background-color: rgb(244, 244, 241);
}
.imgdiv
{
    margin-left: 100VH;
}
.name
{
    font-size: 100px;
    margin-bottom: 0px;
    color: black;
    font-family: "Times New Roman", Times, serif;
}
.caption
{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 50px;
    color: black;
}
.mainimg
{
    float: right;
    margin-top: 5px;
    width: 100VH;
    height: 80VH;
}
.links
{
    color: black;
    font-size: 50px;
    margin-left: 30px;
    margin-right: 0px;
}
.links:hover
{
    font-size: 75px;
}